@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Barlow:wght@600&family=Commissioner:wght@400;500;700&family=DM+Serif+Display&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Fugaz+One&family=Hanken+Grotesk:wght@500&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&family=League+Spartan&family=Montserrat:wght@100&family=Nunito:wght@200&family=Open+Sans:wght@400;700&family=Outfit&family=Overpass:wght@100;300;600&family=Poppins:wght@600&family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn-try{
    @apply  font-fontOpen font-bold text-[0.8rem] px-[2rem] py-[0.2rem] bg-white rounded-full drop-shadow-md
            xl:px-[3rem] xl:py-[0.8rem]   
  }
  .btn-getstart{ 
    @apply  text-white font-fontOpen  px-[4rem] py-[1rem] bg-[#ff52bf] rounded-full drop-shadow-md  mb-[3rem]
            xl:mb-0
  }
  .h1-header{
  @apply  font-fontPoppins font-semibold text-[1.7rem] text-center
          xl:text-start xl:text-[2.5rem]
          
  }
  .p-header{
    @apply  font-fontOpen text-[#00252e] text-[18px] text-center py-[2rem]
            xl:my-[1.5rem]  xl:text-start
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root{
  --c-Pink: #ff52bf;

  --c-Very-Pale-Cyan: #ebfbff;
  --c-Very-Dark-Cyan: #00252e;
  --c-Grayish-Blue: #808d99;

  --ff-Poppins:'Poppins', sans-serif;
  --ff-Open:'Open Sans', sans-serif;

  --fs:18px

  --fw-Poppins:600
  --fw-Open-s:400
  --fw-Open-m:700
}